@import url("https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
p {
  margin-bottom: 1rem;
}
main {
  min-height: 200vh;
  padding: 6rem 1rem 1rem;
}
.App {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

.search-bar-container {
  padding-top: 15vh; /*distance entre le haut et la barre (ici on est au plus proche de la navbar) */
  width: 80%; /*correspond au cadre blanc où l'on tape le texte */
  margin: auto; /*permet de centrer la barre */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
